<%- include("partials/header.ejs")%>
<div class="container-fluid px-4">
	<div class="row">
		<div class="col-xl-6">
		<%	if(artist){%>
			<h1 class="text-center text-shadow">
				Artists related to <%= artist.name%>
			</h1>
		<%}%>
			<canvas id="myCanvas" class="graph"></canvas>
		</div>
		<div class="col-xl-6 col-sm-12 list">
			<%relatedArtists.forEach(function(relatedArtist){%>
				<div class="row item">
					<div>
						<%if(relatedArtist.images[0] != null){%>
							<div class="img-item">
								<a href="/related/<%=relatedArtist.id%>" id="<%=relatedArtist.id%>">
									<img src="<%= relatedArtist.images[0]["url"]%>">
								</a>
							</div>
						<%}
						else{ %>
							<div class="img-item">
								<a href="/related/<%=relatedArtist.id%>" id="<%=relatedArtist.id%>">
									<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
								</a>
							</div>
						<%}%>
		
						<div clas="card-body">
							<h5 class="card-title">
								<a href="/related/<%=relatedArtist.id%>">
									<%=relatedArtist.name%>
								</a>
							</h5>
						</div>
					</div>
				</div>
				<%});%>
		</div>
	</div>
	<div class="row text-center flex">
	</div>
</div>

<div class="container-fluid king">
	<div class="row">
		<h5 class="ml-5 desc">The closer an artist is to the center, the more related they are to the artist of interest</h5>
	</div>
	<div class="row text-center" style="height: 100%;">
		<%if(artist){%>
		<div class="col-xl-6 col-md-12 my-auto">
			<%if(artist.images.length !== 0){%>
			<a class="slick" href="<%=artist.external_urls.spotify%>" target="_blank">
				<img class="round-img mt-5" id="target-artist" src="<%=artist.images[0]["url"]%>">
			</a>
			<%}else{%>
			<a class="slick" href="<%=artist.external_urls.spotify%>" target="_blank">
				<img class="round-img mt-5" id="null" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
			</a>
			<%}%>
			<a class="slick" href="<%=artist.external_urls.spotify%>" target="_blank">
				<h1 class="text-center mt-2" id="artistName">
					<%=artist.name%>
				</h1>
			</a>
		</div>
		<div class="col-xl-6 col-md-12 my-auto">
			<section>
				<h1 class="stats app-text">
					Followers: <%=artist.followers.total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%>
				</h1>
				<h1 class="stats app-text">
					Popularity: <%=artist.popularity%> 
				</h1>
				<h1 class="stats app-text">
					Genre(s): 
					<%for(let i = 0; i < artist.genres.length; i++){%>
						<%if (i != artist.genres.length - 1){%>
							<%=artist.genres[i]%>, 
						<%}  else  {%>
						 	<%=artist.genres[i]%>
					<%}}%>
				</h1>
			</section>
		</div>
		<%}%>
	</div>
</div>
<script type="text/paperscript" canvas="myCanvas" src="/js/related-paper.js"></script>
<span id="artist" hidden><%= JSON.stringify(artist);%></span>
<span id="relatedArtists" hidden><%= JSON.stringify(relatedArtists);%></span>
<%- include("partials/footer.ejs")%>

