<%- include("partials/header.ejs")%>
<div class="container pb-5">
	<div class="row text-center flex mt-4">
		<%if(artists !== null){%>
		<%artists.forEach(function(artist){%>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="search">
				<%if(artist.images[0] != null){%>
					<a href="/related/<%=artist.id%>">
						<img class="card-img-top mx-auto" src="<%= artist.images[0]["url"]%>">
					</a>
				<%}
				else{ %>
					<a href="/related/<%=artist.id%>">
						<img class="card-img-top null mx-auto" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
					</a>
				<%}%>
				
				<div clas="card-body">
					<h5 class="card-title">
						<a href="/related/<%=artist.id%>">
							<%=artist.name%>
						</a>
					</h5>
				</div>
			</div>
		</div>
		<%});}%>
	</div>
</div>
<%- include("partials/footer.ejs")%>